.sdl-checkbox-custom {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-top: -3px;
  margin-right: 10px;
  background-color: #d4d4d4a1;
  border: 3px solid #d4d4d4;
  position: relative;
  text-align: center;
}

.sdl-checkbox-custom:hover {
  border-color: rgb(239, 206, 74);
  cursor: pointer;
}

.sdl-checkbox {
  display: none;
}

.sdl-checkbox-text {
  font-size: 16px;
  color: #222;
}


.sdl-filter-item {
  margin-bottom: 13px;
}

.sdl-checkbox:checked + .sdl-checkbox-custom {
  background-color: rgb(239, 206, 74);
  border-color: rgb(239, 206, 74);
}