.sdl {
  &-filter {

    &-btn {

    }

    &-content {
      background-color: #fff;
      box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .1);
      padding: 20px 20px 40px 20px;
    }

    &-offers {

    }

    &-section {
      margin-bottom: 30px;
    }

    &-title {
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: 700;
      line-height: 22px;
      color: #222;
    }

    &-item {

    }
  }
}
